@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.container {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.Columns {
  color: white;
  font-family: "Righteous", cursive;
}

.Field {
  background-color: #ff4c29;
  color: white;
  font-family: "Righteous", cursive;
  border-right: 2px solid #2c394b;
  margin-bottom: 2em;
}

table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

td,
th {
  width: 300px;
  height: 35px;
}
.FirstField {
  background-color: #ff4c29;
  border-right: 2px solid #2c394b;
  color: white;
  font-family: "Righteous", cursive;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-bottom: 2em;
}
.LastField {
  font-family: "Righteous", cursive;
  color: black;
  background-color: #c4c4c4;
  width: 50px;
  height: 1em;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  transition: all 0.5s 0s ease, all 0.5s 0s ease;
  cursor: pointer;
}
.LastField:active {
  background-color: #334756;
}
.Select:focus {
  outline: none;
}

.LastField:hover {
  background-color: #334756;
}
.Select {
  background-color: #c4c4c4;
  width: 50px;
  height: 50px;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 50%;
  border: none;
  -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  transition: all 0.5s 0s ease, all 0.5s 0s ease;
  cursor: pointer;
}

.Select:hover {
  background-color: #334756;
}

.Select:active {
  background-color: #334756;
}

.Arrow {
  cursor: pointer;
  background-color: #ff4c29;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.Arrow:focus {
  outline: none;
}

.Arrow:active {
  background-color: #334756;
}

.Arrow:hover {
  background-color: #334756;
}

.ContainerButton {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}
